.vs/
.idea/
.vscode/
**/bin/
**/obj/
artifacts/*
!artifacts/.gitkeep
docs/_site/
docs/api/*.yml
docs/api/.manifest
docs/obj/
TestResults/
tests/clean-consumer/**/.packages/
tests/clean-consumer/**/.packages-*/
*.user
*.suo
*.nupkg
*.snupkg
