<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local" value="..\..\..\artifacts\packages" />
    <add key="stage55-signed-tensorrt" value="E:\DeploySharp-External\stage55\nuget-org-signed-92bc106465dd87651118adbdaa8dbcb9" />
  </packageSources>
</configuration>
